* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    background-color: black;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    padding-top: 15px;
    align-items: center;
    padding-bottom: 10PX;
    height: 75px;
    border-bottom: 3px solid #D3D3D3;
}

#logo {
 width: 60px;
}

header a {
    text-decoration: none;
    margin-right: 22px;
    font-size: 14px;
    color: #F5FFFA;
    font-weight: 500;
    transition: text-decoration-color 2s;
}

header a:hover {
    cursor: pointer;
    text-decoration: 2px underline wavy rgba(255,215,0);
}

header a:active {
    cursor: grab;
    opacity: 0.4;
}

/* header a:visited {
    cursor: pointer;
    text-decoration: 2px underline wavy rgba(255,215,0);
} */

.shopping {
    border: none;
    background-color: black;
    margin-right: 12px;
    border-radius: 10px;
    text-align: center;
}

.shopping:hover {
    width: 30px;
    background-color: white;
    height: 26px;
}

.shopping span {
    width: 30px;
    color: #fff;
}

.shopping span:hover {
    color: black;
    padding-top: 2px;
}

.shopping:active {
    opacity: 0.5;
    cursor: grab;
}

.btn {
    padding: 1rem 3rem;
    font-size: 18px;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 5px;
    background: rgb(222,184,135);
}

.homeContainer {
    background-image: url(./img/home-img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.homeContainer section {
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin-left: 75px;
}

.container {
    max-width: 500px;
}

.container h1 {
    color: #fff;
    font-size: 40px;
    width: 25vw;
    line-height: 58px;
    letter-spacing: 2px;
}

.container p {
    color: #fff;
    font-size: 21px;
    font-weight: 100;
    line-height: 30px;
    padding: 1rem 0;
    letter-spacing: 1px;
}